body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header-content {
    text-align: center;
    margin: 20px 0;
}

.logo {
    width: 150px;
    height: 150px;
}

.category-form {
    width: 10%;
    border-radius: 5px;
    border: 1px solid #858585;
    text-align: center;
    height: 32px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    background-color: #24293E;
}

li a, .dropbtn, .welcome-message {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

li a:hover, .dropbtn:hover {
    color: #8ebbff;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #24293E;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #2f3651;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.profile-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.wallet-icon, .cart-icon, .settings-icon, .watchlist-icon {
    width: 15px;
    height: 15px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin: 20px 0;
}

input[type="text"] {
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #252525;
    text-align: left;
    height: 13px;
    margin-bottom: 1%;
}

select[name="category"] {
    border: 1px solid #252525;
    border-radius: 10px;
    cursor: pointer;
    width: 12%;
    height: 35px;
    margin-right: 10px;
    padding-left: 10px;
}

button[type="submit"], button[type="button"] {
    padding: 10px 20px;
    background-color: #2f3651;
    color: white;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #444755;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease;
}

.item-pic {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
}

ul.auction-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

ul.auction-list li {
    margin: 6px;
    padding: 3px;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

p.auction-desc {
    text-align: left;
}

ul.auction-list li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul.auction-list li a {
    text-decoration: none;
    color: #333;
}

ul.auction-list li h2 {
    font-size: 18px;
    margin: 10px 0;
}

ul.auction-list li p {
    margin: 5px 0;
    color: #666;
}

#backToTopBtn {
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99;
    cursor: pointer;
    padding: 15px;
}

.back-to-top-icon {
    height: 50px;
    width: 50px;
}
