@charset "utf-8";

.logo {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
}

.rounded-box {
    width: 900px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    top: 24%;
    border: 3px solid #252525;
    font-size: 13px;
    position:absolute;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 90vh; /* Full viewport height */
    background-color: #efefef;
}

form button[type="submit"] {
    width: 20%;
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-radius: 12px;
    background-color: #252525;
    color: white;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #3c3c3c;
}

.error {
    color: red;
}

.name-field {
    width: 33%;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    border: 1px solid #252525;
    text-align: center;
    font-weight: bold;
    height: 10px;
}

.dob-phoneNo-field {
    width: 18.5%;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    border: 1px solid #252525;
    text-align: center;
    height: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.email-field {
    width: 29%;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    border: 1px solid #252525;
    text-align: center;
    font-weight: bold;
    height: 10px;
}

.gender-field {
    width: 10%;
    padding: 5px;
    margin: 7px;
    border-radius: 5px;
    border: 1px solid #252525;
    text-align: center;
    height: 32px;
    font-weight: bold;
    cursor: pointer;
}

.form-row3 {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    align-items: center; /* Center items horizontally */
    justify-content: center; 
}

.address-field {
    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    height: 50px;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    border: 1px solid #252525;
    text-align: left;
    font-weight: bold;
    resize: none;
}

.tab {
    display: inline-block;
    margin-left: 5em;
}