@charset "utf-8";

.logo {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
}

.rounded-box {
    width: 900px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    top: 28%;
    border: 3px solid #252525;
    font-size: 13px;
    position: fixed;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 90vh; /* Full viewport height */
    background-color: #efefef;
}

form input {
    width: 35%;
    padding: 10px;
    margin: 13px auto;
    border-radius: 10px;
    border: 1px solid #252525;
    text-align: center;
    height: 13px;
}

form button[type="submit"] {
    width: 20%;
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-radius: 12px;
    background-color: #252525;
    color: white;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #3c3c3c;
}

.error {
    color: red;
}

.form {
    width: 600px;
    text-align: right;
}