{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Auction Details</title>
</head>
<body>
    {% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% if success_message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ success_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <p><a href="{% url 'home_page' %}"> &lt; Back</a></p>
    <h1>{{ auction.item_name }}</h1>
    <img src="{{ auction.picture1.url }}" alt="Item Picture 1">
    <img src="{{ auction.picture2.url }}" alt="Item Picture 2">
    <img src="{{ auction.picture3.url }}" alt="Item Picture 3">
    <img src="{{ auction.picture4.url }}" alt="Item Picture 4">
    <p>Description: {{ auction.item_desc }}</p>
    <p>Category: {{ auction.item_cat }}</p>
    <p>Auction Time Left: {{ time_left }}</p>
    <p>Auction End Time: {{ auction.auction_end_time }}</p>
    <p>Starting Bid: RM{{ auction.start_bid }}</p>
    <p>Current Bid: RM{{ auction.current_bid }}</p>
    <form method="post" action="{% url 'place_bid' auction.id %}">
        {% csrf_token %}
        <input type="number" name="bid_amount" step="0.01" min="{{ auction.current_bid }}" placeholder="Enter your bid">
        <button type="submit">Place Bid</button>
    </form>
    <p>Seller: {{ seller_username }}</p>
</body>
</html>
