{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
    <title>Cart | Bidify</title>
</head>
<body>
    <ul>
        <li style="float:left"><a href="#"><img src="{% static 'image/profile_icon.png' %}" alt="profile" class="profile-icon"></a></li>
        {% if user.is_authenticated %}
            <li style="float:left"><a href="#">Welcome, {{user.username}}</a></li>
        {% else %}
            <li style="float:left">Welcome, guest</li>
            <li style="float:left"><a href="{% url 'login' %}">Login or Register</a></li>
        {% endif %}
        <li style="float:left" class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Settings</a>
            <div class="dropdown-content">
                <a href="{% url 'edit_profile' %}">Edit Profile</a>
                <a href="{% url 'change_pass' %}">Change Password</a>
                <a href="#">Report</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </li>
        <li style="float:right"><a href="#">To Deliver</a></li>
        <li style="float:right"><a href="#">To Receive</a></li>
        <li style="float:right"><a href="{% url 'watchlist' %}">Watchlist</a></li>
        <li style="float:right"><a href="{% url 'cart' %}"><img src="{% static 'image/cart_icon.png' %}" alt="cart" class="profile-icon"></a></li>
        <li style="float:right" class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Sell</a>
            <div class="dropdown-content">
                <a href="{% url 'create_auction' %}">Create Auction</a>
                <a href="{% url 'saved_auction' %}">Saved Auction</a>
                <a href="{% url 'ongoing_auction' %}">Ongoing Auction</a>
                <a href="{% url 'completed_auction' %}">Completed Auction</a>
            </div>
        </li>
    </ul>
        
    <p><a href="{% url 'home_page' %}" class="back-button"> &lt; Back</a></p>
    <a href="{% url 'home_page' %}"><img src="{% static 'image/bidify.png' %}" alt="bidify"></a>
    <hr>
    <h1>Cart</h1>
    <ul>
        {% for auction in won_auctions %}
            <li>
                <a href="{% url 'cart_auction_details' auction.auction.id %}">
                    <img src="{{ auction.auction.picture1.url }}" alt="Item Picture 1" class="item-pic">
                    <h2>{{ auction.auction.item_name }}</h2>
                    <p>Bid Price: RM{{ auction.winning_bid }}</p>
                    <p>Seller: {{ auction.auction.seller.fName }}</p>
                    <p>Checkout Deadline: {{ auction.checkout_deadline }}</p>
                </a>
                <form action="{% url 'checkout' auction.id %}">
                    {% csrf_token %}
                    <button type="submit" name="checkout" value="Checkout">Checkout</button>
                </form>
            </li>
            <br>
        {% empty %}
            <li>No won auctions.</li>
        {% endfor %}
    </ul>
</body> 
</html>