{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Completed Auction Details | Bidify</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/auction_details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <ul class="navbar">
        <li><a href="javascript:history.back()"> &lt; Back</a></li>
        <li><a href="{% url 'home_page' %}"><img src="{% static 'image/bidify_white.png' %}" class="bidify-white-icon"></a></li>
        <li><a href="{% url 'watchlist' %}"><img src="{% static 'image/watchlist_icon.png' %}" class="watchlist-icon">  Watchlist</a></li>
        <li><a href="{% url 'cart' %}"><img src="{% static 'image/cart_icon.png' %}" class="cart-icon">  Cart</a></li>
        <li><a href="{% url 'wallet' %}"><img src="{% static 'image/wallet_icon.png' %}" class="wallet-icon">  RM{{ user.balance }}</a></li>
    </ul>

    <div class="auction-details">
        <div class="row">
            <div class="col-md-6">
                <div id="itemCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for picture in pictures %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ picture }}" alt="Item Picture {{ forloop.counter }}">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#itemCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#itemCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h2 style="color: #2f3651;"><b>{{ auction_winner.auction.item_name }}</b></h2>
                <p class="category">{{ auction_winner.auction.item_cat }}</p>
                <hr>
                <p class="description">{{ auction_winner.auction.item_desc }}</p>
                <hr>
                <h5 style="color: #2f3651;">Auction Info</h5>
                <p>Auction Created Time: <b>{{ auction.auction_created_time|date:"d M Y, h:iA" }}</b></p>
                <p>Auction End Time: <b>{{ auction.auction_end_time|date:"d M Y, h:iA" }}</b></p>
                <p>Checkout Deadline: <b>{{ auction_winner.checkout_deadline|date:"d M Y, h:iA" }}</b></p>
                <p>Starting Bid: <b>RM {{ auction.start_bid }}</b></p>
                <hr>
                <h5 style="color: #2f3651;">Winner Info</h5>
                <p>Winner Username: <b>{% if auction_winner.winner %}{{ auction.current_bidder.username }}{% else %}No winner{% endif %}</b></p>
                <p>Winner Name: <b>{% if auction_winner.buyer_name %}{{ auction_winner.buyer_name }}{% else %}No winner{% endif %}</b></p>
                <p>Winner Phone No: <b>{% if auction_winner.buyer_phone %}{{ auction_winner.buyer_phone }}{% else %}No winner{% endif %}</b></p>
                <p>Winner Address: <b>{% if auction_winner.buyer_address %}{{ auction_winner.buyer_address }}{% else %}No winner{% endif %}</b></p>
                <hr>
                <h5 style="color: #2f3651;">Buyer's Feedback</h5>
                <p>Ratings: <b>{{ auction.ratings }} ⭐️</b></p>
                <p>Comment: <b>{{ auction.comment }}</b></p>
                <div class="btn-section">
                    {% if deadline_passed and not auction_winner.is_checkout %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <input class="delete-btn" type="submit" name="delete" value="Delete Auction">
                        </form>
                    {% elif not auction_winner.winner %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <input class="delete-btn" type="submit" name="delete" value="Delete Auction">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <script>
        document.querySelectorAll('.delete-btn').forEach(function(button) {
                button.addEventListener('click', function(event) {
                    const confirmed = confirm('Confirm delete this auction?');
                    
                    if (!confirmed) {
                        event.preventDefault();
                    }
                });
            });
    </script>

    <script>
        fetch("{% url 'get_wallet_balance' %}")
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to fetch wallet balance');
                }
            })
            .then(data => {
                document.getElementById('wallet-balance').textContent = `RM${data.balance}`;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>
</body>
</html>
