{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Completed Auction Details | Bidify</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/auction_details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
</head>
<body>
    <p><a href="{% url 'home_page' %}"> &lt; Back</a></p>
    <img src="{{ auction.picture1.url }}" alt="Item Picture 1" class="item-pic">
    <h1>{{ auction.item_name }}</h1>
    <p>Description: {{ auction.item_desc }}</p>
    <p>Category: {{ auction.item_cat }}</p>
    <p>Auction Created Time: {{ auction.auction_created_time }}</p>
    <p>Auction End Time: {{ auction.auction_end_time }}</p>
    <p>Starting Bid: RM{{ auction.start_bid }}</p>
    <p>Winning Bid: {% if auction_winner.winning_bid %}RM{{ auction_winner.winning_bid }}{% else %}No Winner{% endif %}</p>
    <p>Winner Username: {% if auction_winner.buyer_name %}{{ auction.current_bidder.username }}{% else %}No winner{% endif %}</p>
    <p>Winner Name: {% if auction_winner.buyer_name %}{{ auction_winner.buyer_name }}{% else %}No winner{% endif %}</p>
    <p>Winner Address: {% if auction_winner.buyer_address %}{{ auction_winner.buyer_address }}{% else %}No winner{% endif %}</p>
    <p>Winner Phone No: {% if auction_winner.buyer_phone %}{{ auction_winner.buyer_phone }}{% else %}No winner{% endif %}</p>
    {% if deadline_passed %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" name="delete" value="Delete Auction">
    </form>
    {% endif %}
</body>
</html>
