{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Auction | Bidify</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_auction.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script>
        function validateAuctionEndDatetime() {
            var auctionEndDatetime = new Date(document.getElementById('auction_end_time').value);
            var currentDatetime = new Date();
        
            if (auctionEndDatetime <= currentDatetime) {
                alert("Please select a future date and time for the auction end.");
                return false;
            }
            return true;
        }

        document.getElementById('CreateAuctionForm').addEventListener('submit', function(event) {
            
            if (!validateAuctionEndDatetime()) {
                event.preventDefault();
            }
        });
    </script>
</head>

<body>
    <p><a href="{% url 'home_page' %}"> &lt; Back</a></p>
    <img src="{% static 'image/bidify.png' %}" alt="bidify" class="logo">
    <form method="post" action="{% url 'create_auction' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>