{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
    <title>Main Page | Bidify</title>
</head>
<body>
    <ul>
        <li style="float:left"><a href="#"><img src="{% static 'image/profile_icon.png' %}" alt="profile" class="profile-icon"></a></li>
        {% if user.is_authenticated %}
            <li style="float:left">Welcome, {{user.username}}</li>
        {% else %}
            <li style="float:left">Welcome, guest</li>
            <li style="float:left"><a href="{% url 'login' %}">Login or Register</a></li>
        {% endif %}
        <li style="float:left" class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Settings</a>
            <div class="dropdown-content">
                <a href="{% url 'edit_profile' %}">Edit Profile</a>
                <a href="{% url 'change_pass' %}">Change Password</a>
                <a href="#">Report</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </li>
        <li style="float:right"><a href="#">To Deliver</a></li>
        <li style="float:right"><a href="#">To Receive</a></li>
        <li style="float:right"><a href="{% url 'watchlist' %}">Watchlist</a></li>
        <li style="float:right"><a href="{% url 'cart' %}"><img src="{% static 'image/cart_icon.png' %}" alt="cart" class="profile-icon"></a></li>
        <li style="float:right" class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Sell</a>
            <div class="dropdown-content">
                <a href="{% url 'create_auction' %}">Create Auction</a>
                <a href="{% url 'saved_auction' %}">Saved Auction</a>
                <a href="{% url 'ongoing_auction' %}">Ongoing Auction</a>
                <a href="{% url 'completed_auction' %}">Completed Auction</a>
            </div>
        </li>
    </ul>
        
        <div class="header-content">
            <img src="{% static 'image/bidify.png' %}" alt="Bidify Logo" class="logo">
        </div>
        <form method="GET" action="{% url 'home_page' %}">
            <input type="text" name="q" placeholder="Search for anything" value="{{ query }}">
            <select name="category">
                <option value="">All Categories</option>
                {% for category in categories %}
                    <option value="{{ category }}" {% if selected_category == category %}selected{% endif %}>{{ category }}</option>
                {% endfor %}
            </select>
            <button type="submit">Search</button>
            {% if query or selected_category %}
                <a href="{% url 'home_page' %}"><button type="button">Clear Results</button></a>
            {% endif %}
        </form>
    <hr>

    {% if query or selected_category %}
        {% if not active_auctions %}
            <h2>No results found for "{{ query }}", "{{ selected_category }}".</h2>
        {% else %}
            <h2>Search Results:</h2>
        {% endif %}
    {% endif %}
    
    <ul class="auction-list">
        {% for auction in active_auctions %}
            <li>
                <a href="{% url 'auction_details' auction.id %}">
                    <img src="{{ auction.picture1.url }}" alt="Item Picture 1" class="item-pic">
                    <h2>{{ auction.item_name }}</h2>
                    <p>Current Bid: RM{{ auction.current_bid }}</p>
                    <p>End Time: {{ auction.auction_end_time }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>

    <script>
        setInterval(function() {
            fetch("{% url 'auto_update_auction' %}")
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error("Failed to update auction status");
                }
            })
            .catch(error => console.error("Error:", error));
        }, 60000); // Check every minute
    </script>
</body> 
</html>