{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Bidify</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
</head>

<body>
    <img src="{% static 'image/bidify.png' %}" alt="bidify" class="logo">

    <div class="rounded-box">
        <h2>Login</h2><br>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form }}
            <p class="error">{{ error }}</p><br><br>
            <button type="submit" name="login-button">Login</button>
        </form>
        
        <p><a href="{% url 'register' %}" class="register">Register</a> <b>|</b> <a href="{% url 'forgot_pass' %}" class="forgot-password">Forgotten Password</a></p>
    </div>
</body>
</html>