{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Transactions | Admin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
</head>
<body>
    <p><a href="{% url 'home_page' %}"> &lt; Back</a></p>
    <h1>Manage Transactions</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Payer</th>
                <th>Receiver</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.timestamp }}</td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.main_user.username }}</td>
                    <td>{{ transaction.second_user.username }}</td>
                    <td>
                        <form action="{% url 'approve_trans' transaction.id %}" id="approve-form-{{ transaction.id }}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="approve-button" data-user-id="{{ transaction.id }}">Approved</button>
                        </form>
                        <form action="{% url 'decline_trans' transaction.id %}" id="decline-form-{{ transaction.id }}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="decline-button" data-user-id="{{ transaction.id }}">Decline</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No transactions.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.querySelectorAll('.approve-button').forEach(function(button) {
            button.addEventListener('click', function(event) {
                const confirmed = confirm('Are you sure you want to approve this transaction?');
                
                if (!confirmed) {
                    event.preventDefault();
                }
            });
        });
    </script>
    
    <script>
        document.querySelectorAll('.decline-button').forEach(function(button) {
            button.addEventListener('click', function(event) {
                const confirmed = confirm('Are you sure you want to decline this transaction?');
                
                if (!confirmed) {
                    event.preventDefault();
                }
            });
        });
    </script>
</body>
</html>
