{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Auction Details | Bidify</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/auction_details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <ul class="navbar">
        <li><a href="javascript:history.back()"> &lt; Back</a></li>
        <li><a href="{% url 'home_page' %}"><img src="{% static 'image/bidify_white.png' %}" class="bidify-white-icon"></a></li>
        <li><a href="{% url 'watchlist' %}"><img src="{% static 'image/watchlist_icon.png' %}" class="watchlist-icon">  Watchlist</a></li>
        <li><a href="{% url 'cart' %}"><img src="{% static 'image/cart_icon.png' %}" class="cart-icon">  Cart</a></li>
        <li><a href="{% url 'wallet' %}"><img src="{% static 'image/wallet_icon.png' %}" class="wallet-icon">  RM{{ user.balance }}</a></li>
    </ul>

    <div class="auction-details">
        <div class="row">
            <div class="col-md-6">
                <div id="itemCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for picture in pictures %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ picture }}" alt="Item Picture {{ forloop.counter }}">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#itemCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#itemCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h2 style="color: #2f3651;"><b>{{ auction_winner.auction.item_name }}</b></h2>
                <p class="category">{{ auction_winner.auction.item_cat }}</p>
                <hr>
                <p class="description">{{ auction_winner.auction.item_desc }}</p>
                <hr>
                <h5 style="color: #2f3651;">Item Info</h5>
                <p>Seller: <b>{{ auction_winner.auction.seller.fName }} {{ auction_winner.auction.seller.lName }}</b></p>
                <p>Price Amount: <b>RM {{ auction_winner.winning_bid }}</b></p>
                <hr>
                <h5 style="color: #2f3651;">Shipping Info</h5>
                <p>Name: <b>{{ auction_winner.buyer_name }}</b></p>
                <p>Phone: <b>{{ auction_winner.buyer_phone }}</b></p>
                <p>Address: <b>{{ auction_winner.buyer_address }}</b></p>
                <hr>
                <h5 style="color: #2f3651;">Shipping Condition: </h5>
                {% if auction_winner.is_delivered %}
                    <p>Your item is out of delivery.</p>
                {% else %}
                    <p>Seller is preparing to ship your item.</p>
                {% endif %}
                <div class="btn-section">
                    {% if auction_winner.is_delivered %}
                        <hr>
                        <h5 style="color: #2f3651; text-align: left;">Feedback</h5>
                        <form action="{% url 'receive_auction_details' auction_winner.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.comment.label_tag }}
                                <br>
                                {{ form.comment }}
                                <br>
                                {{ form.ratings.label_tag }}
                                <br>
                                {{ form.ratings }}
                            </div>
                            <input class="item-received-btn" type="submit" name="item_received" value="Item Received">
                        </form>  
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <script>
        document.querySelectorAll('.item-received-btn').forEach(function(button) {
                button.addEventListener('click', function(event) {
                    const confirmed = confirm('Is this item received?');
                    
                    if (!confirmed) {
                        event.preventDefault();
                    }
                });
            });
    </script>
</body>
</html>
