{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report | Admin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
</head>
<body>
    <ul class="navbar">
        <li style="float:left"><a href="{% url 'manage_report' %}"> &lt; Back</a></li>
        <li style="float:left"><a><img src="{% static 'image/profile_icon.png' %}" class="profile-icon">
        &nbsp;&nbsp;Welcome, ADMIN
        </a></li>
        <li style="float:left" class="dropdown">
            <a href="javascript:void(0)" class="dropbtn"><img src="{% static 'image/settings_icon.png' %}" class="settings-icon">
                &nbsp;Settings
            </a>
            <div class="dropdown-content">
                <a href="{% url 'change_pass' %}">Change Password</a>
                <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
            </div>
        </li>
        <li style="float:right"><a href="{% url 'manage_user' %}">Manage Users</a></li>
        <li style="float:right"><a href="{% url 'manage_trans' %}">Manage Transactions</a></li>
        <li style="float:right"><a href="{% url 'manage_report' %}">Manage Reports</a></li>
    </ul>

    <div class="header-content">
        <img src="{% static 'image/report_icon.png' %}" alt="Report" class="profile-image">
        <h1>Report Details</h1>
    </div>
    <hr>

    <p style="margin-left: 3%;"><b>User: </b>{{ report.user.username }}</p>
    <p style="margin-left: 3%;"><b>Title: </b>{{ report.title }}</p>
    <p style="margin-left: 3%;"><b>Category: </b>{{ report.category }}</p>
    <p style="margin-left: 3%;"><b>Content: </b>{{ report.content }}</p>
    <p style="margin-left: 3%;"><b>Submitted At: </b>{{ report.created_at }}</p>
    <form method="post" action="{% url 'delete_report' report.id %}" style="text-align: left; margin-left: 5%; margin-top: 3%;">
        {% csrf_token %}
        <button type="submit" class="delete-button" data-report-id="{{ report.id }}">Delete</button>
    </form>

    <script>
        document.querySelectorAll('.delete-button').forEach(function(button) {
            button.addEventListener('click', function(event) {
                const confirmed = confirm('Are you sure you want to delete this report?');
                
                if (!confirmed) {
                    event.preventDefault();
                }
            });
        });
    </script>
</body>
</html>
