{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
    <title>Watchlist | Bidify</title>
    <script>
        // Periodically check if auctions have ended
        setInterval(function() {
            fetch("{% url 'update_auction_status' %}")
            .then(response => {
                if (response.ok) {
                    // Reload the page if the status update was successful
                    window.location.reload();
                } else {
                    console.error("Failed to update auction status");
                }
            })
            .catch(error => console.error("Error:", error));
        }, 60000); // Check every minute
    </script>
</head>
<body>
    <ul>
        <li style="float:left"><a href="#"><img src="{% static 'image/profile_icon.png' %}" alt="profile" class="profile-icon"></a></li>
        {% if user.is_authenticated %}
            <li style="float:left"><a href="#">Welcome, {{user.username}}</a></li>
        {% else %}
            <li style="float:left">Welcome, guest</li>
            <li style="float:left"><a href="{% url 'login' %}">Login or Register</a></li>
        {% endif %}
        <li style="float:left" class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Settings</a>
            <div class="dropdown-content">
                <a href="{% url 'edit_profile' %}">Edit Profile</a>
                <a href="#">Change Password</a>
                <a href="#">Report</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </li>
        <li style="float:right"><a href="{% url 'create_auction' %}">Sell</a></li>
        <li style="float:right"><a href="#">To Deliver</a></li>
        <li style="float:right"><a href="#">To Receive</a></li>
        <li style="float:right"><a href="{% url 'watchlist' %}">Watchlist</a></li>
        <li style="float:right"><a href="#">Cart</a></li>
    </ul>
        
        <img src="{% static 'image/bidify.png' %}" alt="bidify">
    <hr>
    <h1>Watchlist</h1>
    <ul>
        {% for item in watchlist_items %}
            <li>
                <a href="{% url 'auction_details' item.auction.id %}">
                    <img src="{{ item.auction.picture1.url }}" alt="Item Picture 1" class="item-pic">
                    <h2>{{ item.auction.item_name }}</h2>
                    <p>{{ item.auction.item_desc }}</p>
                    <p>Current Bid: RM{{ item.auction.current_bid }}</p>
                    <p>End Time: {{ item.auction.auction_end_time }}</p>
                </a>
            </li><br>
        {% endfor %}
    </ul>
</body> 
</html>